.app {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  background-image: url('../../images/bg-pattern.png');
  background-image: -webkit-image-set(
    url('../../images/bg-pattern.png') 1x,
    url('../../images/bg-pattern@2x.png') 2x);
  background-image: image-set(
    url('../../images/bg-pattern.png') 1x,
    url('../../images/bg-pattern@2x.png') 2x);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  max-height: max-content;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 24px;
}

.main-title {
  font-family: 'Exo2.0', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 1px #000000;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-gap: 80px;
}

@media screen and (max-width: 1150px) {
  .card-list {
    column-gap: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .card-list {
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
